$success: #48A9A6;
$primary: #4281A4;
$secondary: #D4B483;
$error: #C1666B;
$gray: gray;

//COLOR STYLES

.gradient{
  background: rgb(255,61,0);
  background: -moz-linear-gradient(151deg, rgba(255,61,0,1) 0%, rgba(0,145,234,1) 100%);
  background: -webkit-linear-gradient(151deg, rgba(255,61,0,1) 0%, rgba(0,145,234,1) 100%);
  background: linear-gradient(151deg, rgba(255,61,0,1) 0%, rgba(0,145,234,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff3d00",endColorstr="#0091ea",GradientType=1); 
}

.b-red {
  border: 2px solid red;
}

.b-blue {
  border: 2px solid blue;
}

.green-list-item{
  background-color: $success;
  color:white;
}

.blue-font{
  color: $primary;
}

.gray-font {
  color: $gray;
}

//EVENT STYLES

.disabled-events {
  pointer-events: none
}

//POSITION STYLES

.stack-container{
  position: relative;
}
.stack{
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
}
.stack-front{
  z-index: 9;
}

//FOOTER STYLES

.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  
// SCROLLBAR STYLES

.left-scroll-container{
  direction: rtl;
}

.left-scroll-content{
  direction:ltr;
}

//Mozilla
* {
  scrollbar-color: $error #f1f1f1;
  scrollbar-width: thin;
}
  
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $error; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $error; 
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
  